* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px
}
body{
   font-family: Inter, sans-serif;
   background-color: rgb(247, 242, 242);
   color: rgb(255, 249, 249);
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
a {
    text-decoration: none;
    color: white;
}
.description{
    margin-top: 1rem;
    font-size: 1,5rem;
    font-weight: 400;
    color: var(--tect-color);

}
.title {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.container {
    max-width: 1000px;
    height: 1000px;
    width: 50%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: rgb(7, 7, 7); 
    gap: 4rem; 
}
@media only screen and (max-width: 768px){
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile {
    grid-column: 1/ -1;
    margin-bottom: 2rem;
}

.profile_container {
    display: flex;
    gap: 2rem;
}
.profile_profileImg {
    max-width: 250px;
}
.profile_name_firstName{
    color:white;
    font-size: 200;
    font-size: clamp(1rem, 5vw ,2rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0,8rem;
}
.profile_name_lastName{
    color: rgb(84, 157, 202);
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 3rem);
    text-transform: uppercase;
    display: block;
}
.profile_title {
    font-size: 1,5rem;
    font-weight: 400;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}

.skill_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}




